<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>GrandpyBot</title>
        <link rel="stylesheet" href="../static/css/style.css"/>
    </head>

    <body>
        <header>
                <h1>GrandpyBot</h1>
                <h2>Le grand pere qui sait (presque)tout</h2>
        </header>
        
        <nav>
            <!-- pas de menu de nav -->
        </nav>
        
        <section>
            <div id="dialogque_grand_pere">
                    <div class="element">photo du bot</div>
                    <div class="element">réponse</div>
            </div>
            <div id="print_user_quest">
                    <div class="element"><p>question user hahaha</p></div>
            </div>
            <form>
                <form method="post" action="#">
                    <p>
                        <label for="question">merci d'inséré votre question</label>
                        <input type="search" name="question" id="question"/>
                        <input type="submit" value="Rechercher"/>
                    </p>
                </form>
            </form>
        </section>
        
        <footer>
            <p>Copyright Simonin Cyril - Tous droits réservés<br />
            <a href="#">Me contacter !</a></p>
        </footer>
        
    </body>
</html>